fastapi
uvicorn
streamlit
requests
pillow
numpy
pandas
scikit-learn
sentence-transformers
transformers
torch
qdrant-client
rank-bm25
langchain-community
langchain-text-splitters
pymupdf
pytesseract
python-dotenv
groq
